@import "variables";
@import "colors";
@import "mixins";
//Local variables
$containerWidth:640px;



* {
  box-sizing: border-box;
  outline: 0;
  font-family: $roboto;
}

body {
  margin: 0;
  padding: 0;
  background: $primaryColor;
  font-size: $font;
}

.container {
  max-width: $containerWidth;
  margin: ($gutter*3) auto;
  background: $white;
  padding: $gutter;
  border-radius: $radius;
}

.title-icon {
  text-transform: uppercase;
  background-color: $primaryColor;
  color: $white;
  text-align: center;
  font-size: ($font*2);
  width: fit-content;
  margin: auto auto ($gutter*2);
  padding: ($gutter/2);
  border-radius: $radius;
  display: flex;
  align-items: center;
  transition: .1s;
  border-bottom: $primaryColor-dark;
  border-right: $primaryColor-dark;

  .icon {
    padding-left: $gutter;
  }
}

.inner.-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  .combobox.-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: ($borderLine / 2) solid lightgray;
    border-radius: $radius;
    margin-top: ($gutter * 2);

    .combobox {
      border: none;
      width: 30%;
      background-color: $backgroundBlue;
      border-radius: ($radius/4);
      margin-bottom: $gutter;
      padding: ($gutter / 2) $gutter;
      border-bottom: $borderLine/2 solid $primaryColor-light;
      border-right: $borderLine/2 solid $primaryColor-light;

    }
  }

  .input.-inner-container {
    margin-top: ($gutter * 4);
    display: flex;
    justify-content: center;
    width: 100%;

    .input.-first,
    .input.-second {
      border: none;
      font-size: $font;
      border-bottom: $borderLine solid $primaryColor;
      border-radius: ($radius);
      text-align: center;
      padding: ($gutter / 2);
      width: 15%;
      margin: 0 $gutter;
      background-color: $backgroundBlue;
      transition: .3s ease-in-out;
    }

    i {
      color: $primaryColor;
      margin: 0 $gutter;
      align-self: center;
    }
  }

  .focused {
    width: 20% !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}